.bookingPage {
    margin: 1rem auto;
}
.bookingPage h2{
    font-weight: bold;
    font-size: 1.5em;
    color: #db7622;
    text-align: center;
    padding: 1rem ;
}
.bookingPage label{
    display: none;
}
.bookingPage input{
    width : 100%;
    margin: 0.5rem auto;
    border: none;
    border-bottom: #21537a 1px solid;
}
.bookingPage input[type='submit'] {
    display: block;
    width : 7rem;
    margin: 0.5rem auto;
    border: 2px solid #db7622;
    background-color: #d68545;
    border-radius: 0.5rem;
}
.bookingPage input[type='submit']:hover {
    background-color: #db7622;
}
.bookingPage form  {
  padding: 1rem auto;
  margin: 0 auto;
  width: 20rem;
  border:#21537a 1px solid;
  padding: 1rem;
  border-radius: 1rem;
}
.bookingPage textarea {
    margin-top: 1rem;
    width: 100%;
}


@media screen and (min-width: 1025px){
    /* .bookingPage {
        background-image: url('/images/reservation.JPG');
        background-size: cover;
    } */
    .bookingPage{
        padding-top: 5rem ;
        padding-bottom: 5rem ;
    }
    .bookingPage label {
        display: block;
        
    }
    /* .bookingPage input{
        opacity: 0.2;
    }
    .bookingPage textarea{
        opacity: 0.2;
    } */
    .bookingPage input::placeholder {
        opacity: 0;
    }
    .bookingPage input[type='submit']  {
        width : 10rem;
    }
}