.carte {
  margin: 5rem 1rem 2rem 1rem;
  font-family: 'Handlee', cursive;
}
.carte h2 {
    margin: 0.5rem;
    color:#db7622;
    font-weight: 900;
    font-size: 2em;
    font-style: oblique;
    text-align: center;
}

.carte strong {
    display: block;
    color: #d68545;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}
.carte article {
    background-color:beige;
    padding: 0.5rem;
    margin: 2rem auto;
}
.carte h3 {
    padding: 0.5rem 0;
    margin: 0 auto 1rem auto;
    font-style: oblique;
    font-size: 1.3em;
    font-weight: 900;
    color: #21537a;
    text-align: center;
    border-top: 2px solid  #21537a;
    border-bottom: 2px solid  #21537a;
    width: 100%;
    background-color: whitesmoke;
}
.carte figure {
  text-align: center;
    width: 16rem;
    /* height: 12rem; */
    margin: 0 auto 1rem auto;
    /* border-bottom: 1px dashed black; */
     border: 1px rgb(187, 182, 182) solid;
     box-shadow: 1px 0.5px 0.5px 0.5px rgb(187, 182, 182);
     background-color: whitesmoke;
}
.carte figcaption {
    padding-top: 0.5rem;
    color: black;
    font-weight: 600;
}
.carte p{
    margin: 0.5rem 2rem;
    color:rgb(19, 19, 19);
}
.carte span {
    color: black;
    margin: 0 auto 0.5rem auto;
}
.carte button {
    display: block;
    margin: 0 auto 0.5rem auto; 
}
.carte img {
    width: 16rem;
    height: 11rem;
}

@media screen and (min-width: 500px) and (max-width: 1024px){
    .carte {
      margin: 5rem 8rem 2rem 8rem;
    }
     .carte figure {
        width: 16rem;
        margin: 1rem 0;
    }
     .carte img {
        width: 16rem;
    }
    .flexProduit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1025px) {
    .alert {
        margin-bottom: 0.5rem;
    }
    .flexProduit {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .carte {
      margin:6rem 10rem 2rem 10rem;
    }
    .carte figure {
        width: 18rem;
        margin: 1rem ;
    }
    .carte h3 {
        width: 100%;
    }

    .carte img {
        height: 14rem;
        width: 18rem;
    }



    @media screen and (min-width: 1580px){
        .carte {
            margin:6rem 18rem 2rem 18rem;
        }
    }

}

