.evenements {
    margin: 6rem 1rem 3rem 1rem;
}
.evenements h2 {
    color:#db7622;
    font-weight: 900;
    font-size: 1.2em;
    text-align: center;
    /* margin-bottom: 1rem; */
}
.evenements .slider {
    margin: 1rem auto;
}

.figure-container {
    margin: 2rem auto;
    text-align: center;
}
.figure-container img {
    width: 100%;
}
.figcaption-name {
    margin: 1rem auto;
}
.slider-description {
    margin: 0.5rem auto;
}

ul.slick-dots {
    margin: 0 auto 2rem auto;
}

@media screen and (min-width: 500px) and (max-width: 1024px){

    .mignardise, .repas, .gourmandise {
        width: 30rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px) {
        .mignardise, .repas, .gourmandise {
            width: 50rem;
            margin: 0 auto;
        }
        .figure-container {
            display: flex;
        }
}