body{
  /* background: #21537a; */
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.3rem ;
  height: 24px;

  border: none;
  /* background: transparent; */
  background:#21537a;
  

  cursor: pointer;


  box-sizing: border-box;
}
.toggle-button:hover{
  /* opacity: 0.5; */
}


.toggle-button:focus {
  outline: none;
}
.toggle-button__line {
  width: 30px;
  height: 4.5px;
  /* background: black; */
  background: whitesmoke;

  /* color:black; */
    padding: 0 0 0 0
    /* border: black 4px solid; */
}


@media screen and (min-width: 500px) and (max-width: 1024px){}



@media screen and (min-width: 1025px) {  
  
  .toggle-button {
    display: none;
  }

} 




