/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*==========générale=============*/
/* body {
    background-color: rgb(240, 211, 116);
} */
p {
    color: grey;
}
.alert {
    font-size: 0.7em;
    color:orange;
    margin-top: -0.4rem;
}
.green {
    font-size: 0.7em;
    color: green;
    margin-top: -0.4rem;
}
.required {
    color:orangered
}

/*===========Carte component=============*/

.carte h2 {
    margin: 0.5rem;
    text-transform: uppercase;
    color:orangered;
    text-align: center;
}
.carte strong {
    display: block;
    color: orange;
    text-align: center;
}
.carte h3 {
    padding-bottom: 0.5rem;
    margin: 1rem auto;
    text-transform: uppercase;
    color: goldenrod;
    text-align: center;
    border-bottom: 2px solid goldenrod;;
    width: 17rem;
    margin: 2rem auto;
}
.carte figure {
    width: 16rem;
    margin: 0 auto 1rem auto;
    /* border-bottom: 1px dashed black; */
     border: 2px orange solid;
}
.carte p{
    margin: 0 0 0.5rem 0.5rem;
    color:grey;
}
.carte span, figcaption {
    display: block;
    margin: 0 0 0.5rem 0.5rem;
}
.carte button {
    display: block;
    margin: 0 auto 0.5rem auto; 
}
.carte img {
    
    width: 16rem;
}
/*===========LogPage component=============*/
/* .logpage {
    background-color: #F2C078 ;
} */
.logButton {
    margin: 0 2rem; 
}
.logButton button {
    width: 50%;
    /* margin-top: rem; */
    background-color:white ;
    border: 1px solid orange;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; 
}
.logButton button:last-of-type{
    border-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; 
}
.logButton button:hover {
    background-color: orange;
}

.logpage h2 ,.bookingPage h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: orange;
    text-align: center;
    margin-top: 1rem;
}
.logpage label,.bookingPage label {
    display: none;
}
.logpage input,.bookingPage input {
    width : 100%;
    margin: 0.5rem auto;
    border: none;
    border-bottom: rgb(63, 62, 61) 1px solid;
}
.logpage input[type='submit'],.bookingPage input[type='submit'] {
    display: block;
    width : 7rem;
    margin: 0.5rem auto;
    border: 1px solid orange;
    background-color: white;
    border-radius: 0.5rem;
}
.logpage input[type='submit']:hover ,.bookingPage input[type='submit']:hover {
    background-color: orange;
}
.logpage form,.bookingPage form {
    margin: 1rem 2rem;
}
.bookingPage textarea {
    margin-top: 1rem;
    width: 100%;
}


/*===========Footer component=============*/

footer {
    margin: 1rem auto;
    background-color: silver;
}

footer ul {
    text-align: center;
}

footer li {
    width: 11rem;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: black solid 1px;
}
footer li:last-of-type {
    border-bottom:none;
}
footer p {
    margin: 0.5rem auto;
}





@media screen and (min-width: 900px) {
    .alert {

        margin-bottom: 0.5rem;
    }
    .flexProduit {
        display: flex;
        justify-content: space-between;
    }
    .carte figure {
        width: 18rem;
        margin: 0 auto 1rem auto;
    }
    .carte h3 {
        width: 85%;
    }
    .carte img {
        height: 13rem;
        width: 18rem;
    }



    .logpage .logButton {
        width: 20rem;
        margin: 1rem auto; 
    }
    .logpage .logButton button {
        margin-top: 15rem;
        width: 9.5rem;
        margin-right: 0.3rem;
    }
    .logpage .logButton button:last-of-type {
        width: 9.5rem;
        margin-left: 0.3rem;
    }
    .logpage label,.bookingPage label {
        display: block;
    }

    .logpage input,.bookingPage input {
        width : 20rem;
        border: none;
        border-bottom: rgb(63, 62, 61) 1px solid;
    }
    .logpage input::placeholder ,.bookingPage input::placeholder {
        opacity: 0;
    }
    .logpage input[type='submit'] ,.bookingPage input[type='submit'] {
        width : 10rem;
    }
    .logpage form ,.bookingPage form {
        margin: 1rem auto;
        width: 20rem;
        border: orange 1px solid;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 20rem;
    }
    footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    footer li {
        border-bottom: none;
    }
}


