
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* background-color: grey; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ====================================================== */
/* first Mobile */

/* COMPONENT HEADER */
body {
 
  /* border: chocolate 1px solid; */
  /* background: #fff2db; */


}
.toolbar_nav-items {
  /* display:none; */

}

.toolbar {

  width: 100%;

}

.toolbar_logo {
  width: 180px;
  height: 50px;
  text-align: center;
}

.toolbar_logo a {

  color:whitesmoke;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: .2rem;
  font-weight: medium;

  text-decoration: none;
}

.toolbar_navigation {
  display: flex;
  padding: 8% 0 0 0;
  background: #21537a;
  
  
}

.espace {
  /* flex: 1; */
}

/* SIDEBAR  Mobile  */

.toolbar_nav-aside {
  position: fixed;
  /* background: rgb(194, 174, 174); */
  background:#db7622 ;
  z-index: 1000;

  /* ICI JE FIXE MA BAR DE MENU */
  top: 80px;
  width: 38%;
 
  height: calc(31.3vh - 10px);
  transition: all 0 0.7s ease-in-out;
  font-size: 1rem;
}

.toolbar_nav-aside ul {
  padding-top: 8%;

}



.toolbar_nav-aside ul li a{
  /* opacity: 0.5; */
  font-family: arial;
 
  color: whitesmoke;

  cursor: pointer;
  line-height: 2.5;
  text-align: left;
  padding: 10%;

  text-decoration: none;
}
.toolbar_nav-aside ul li:hover {
  /* opacity: 0.7; */
}

.toolbar_nav-items {
}

/* toolbar_nav-items ul cachée sera présente que sur Le desktop */
.toolbar_nav-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  width: 100%;
  padding: 5% 0 0 0;
  display: none;
}

.toolbar_nav-items a {
  text-decoration: none;
  font-size: 1rem;


              /* COULEUR MENU */
  /* color: black; */
  color:whitesmoke;

  text-align: center;
}

.toolbar_nav-items li {
  border-spacing: 0.5%; /*espace entre élement*/
  text-align: center;
}

.toolbar_nav-items a:hover,
.toolbar_nav-items a:active {
  color: orange;
}

/* COMPOSANT PAGEACCUEIL */

.landing-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  /* border: chocolate 1px solid; */
}
.bg-image {


}

.bg-image img {
  width: 376px;
  height: 244px;

}
.bg-image h2 {
 
}

/* Contenu à l'accueil */
.control-content {
padding: 7%;
text-align: justify;
margin: 0;
}

.control-content span {
  font-size: 1.5rem;
  color: #db7622;
}

.users-command{
  cursor:pointer;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  min-height: 25vh;
}


.btn-control {
  background:  #db7622;
  color: whitesmoke;
  border:none;
  margin:10%;
}

.users-command p {
/* border: 1px solid black; */
margin: 0 11% 0 11%;
text-align: justify;
}




  /* .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } */






/* COMPOSANT EVENEMENT */


.container-menu.btn{
/* A REVOIR SE CONFONT AVEC LES BOUTONS DE L ACCUEIL */
  margin-left: 1.1%;
  padding: 2.5% 0 0 0;
  border: black 1px solid;
 
 }


figure{
 width:380px;
}

.figure-container {
 height: 40vh;
 text-transform: uppercase;
}

.figcaption-name{
   margin: 0 auto ;
   text-align: center;
   padding: 2% 0 2% 0 ;
}

.container-img{
}

figure img{
width: 100%; 
} 

ul.slick-dots{
 height:5vh;
}




/* //lorsque la largeur dépasse les 6OOpx    */
@media only screen and (min-width: 600px) {
  body {
 
  }

  .toolbar {
    position: fixed;
    top : 0;
    height: 5vh;
    padding: 0% 0% 5% 0;

  }

  .toolbar_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: blue solid 4px; */
    padding: 3% 0% 1% 0;


  }

  .toolbar_logo {
    width: 40%;
    text-align: center;
  }

  .toolbar_nav-items {
    width: 20vw;
    height: 5vh;
    /* border: yellow 4px solid; */
  }

  .toolbar_nav-items {
    width: 100%;
    height: 0vh;
    /* border: yellow 4px solid; */
  }

  .toolbar_nav-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: steelblue 4px solid ; */
    height: 0vh;
    width: 100%;
    padding: 0 0 0 0;
    visibility: visible;
  }

  .toolbar_nav-items li {
    border-bottom: solid 0.2px;
    color:whitesmoke;
  }
  .toolbar_nav-items li:hover{
    color: orange;
  }

  /* COMPOSANT ACCUEIL */


  .bg-image {
    margin-top: 9vh;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    /* background-color: cadetblue; */
  }

  .bg-image img {
    padding: 2% 0 2% 0;
    width: 75%;
    height: 85vh;
  }

  .bg-image h2 {
    font-size: 4rem;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 0.7rem;
  }

  .control-content  {
    height: 20vh;
    padding:3% 10% 0 10%;
    /* border: solid black 2px; */
    text-align: center;
  }

  .control-content p{
    /* height: 15vh */
    font-size: 1.5rem;
    color: black;
  }



 
  /* SIDEBAR  Mobile  n'est pas visible */

  .toolbar_nav-aside {
    display: none;
  }

  /* COMPOSANT EVENEMENT */

  
  .container-menu{
    margin: 10% 0 5% 0;
    width: 100%;
  }

  .container-menu.btn{
    margin-left: 1.1%;
    padding: 2.5% 0 0 0;

  }



 


  

  .slick-prev:before, .slick-next:before {
    /* font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;*/
    color: black;
    /*
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    border: 2px solid black;
  }


}



/*==========générale abdel=============*/

h2 {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 600;
  color: #db7622;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-weight:600;
}
p {
    color: white;
}


.alert {
    font-size: 0.7em;
    color: #db7622;
    margin-top: -0.4rem;
}
.green {
    font-size: 0.7em;
    color: green;
    margin-top: -0.4rem;
}
.required {
    color: #db7622;
}

